.login-button {display: flex; justify-content: flex-end; align-items: center; margin:20px;}
.login-button svg {margin-right:10px;}
.logo {display: flex; justify-content: center;}
.logo img {width: 100px;}

.menu-area {position: relative;}
.menu-list {display: flex; justify-content: center; list-style: none;}
.menu-list li {padding:10px;}

.search-area {position:absolute; right:0; top:0; border-bottom:1px solid #000;}
.search-area input {border:none; padding:5px 0;}